<button class="btn" routerLink="/" (click)="logOut()">LogOut</button>
<div class="feeds-wrapper">
    <div class="feeds" *ngFor="let feed of feedsService.feeds; let i = index" [routerLink]="[feed.id]" [queryParams]="{feedTitle: feed.title, feedBody: feed.body}">
        <h2>{{feed.title}}</h2>
        <p>{{feed.body}}</p>
        <button class="btn" type="button" (click)="deleteFeed(feed.id, i)">Delete</button>
    </div>
</div>
<div class="create-feed">
    <form class="create-feed-wrapper" [formGroup]="feedsForm" (ngSubmit)="onSubmit()">
        <div class="title">
            <label>Title</label>
            <input type="text" formControlName="title">
        </div>
        <div class="text">
            <label>Text</label>
            <input type="text" formControlName="text">
            <button class="btn" [disabled]="!feedsForm.valid">Create</button>
        </div>
    </form>
</div>
